= simple_form_for(@business_model_canvase) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
  %h2 顧客セグメント
  = f.simple_fields_for :customer_segments do |m|
    = m.input :name
    = m.input :description, as: :text

  %h2 価値提案
  = f.simple_fields_for :value_propositions do |m|
    = m.input :name
    = m.input :description, as: :text

  %h2 チャネル
  = f.simple_fields_for :channels do |m|
    = m.input :name
    = m.input :description, as: :text

  %h2 顧客との関係
  = f.simple_fields_for :customer_relationships do |m|
    = m.input :name
    = m.input :description, as: :text

  %h2 収益の流れ
  = f.simple_fields_for :revenue_streams do |m|
    = m.input :name
    = m.input :description, as: :text

  %h2 経営資源
  = f.simple_fields_for :key_resources do |m|
    = m.input :name
    = m.input :description, as: :text

  %h2 主要活動
  = f.simple_fields_for :key_activities do |m|
    = m.input :name
    = m.input :description, as: :text

  %h2 パートナー
  = f.simple_fields_for :key_partnerships do |m|
    = m.input :name
    = m.input :description, as: :text

  %h2 コスト構造
  = f.simple_fields_for :cost_structures do |m|
    = m.input :name
    = m.input :description, as: :text

  .form-actions
    = f.button :submit
